<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <!--<add name="CadenaPP2025" connectionString="Data Source= BANGHO; Integrated Security=true;Initial Catalog= PP2025; " providerName="System.Data.SqlClient" />-->
    <add name="CadenaPP2025" connectionString="Data Source= DESKTOP-URR4FQN\SQLEXPRESS; Integrated Security=true;Initial Catalog= PP2025; " providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>
